{{#section 'css'}}
    <style>
        .modal{
            z-index: 999999;
        }
        .modal {
            overflow-y: auto;
        }
        .modal-open {
            overflow: auto;
        }
        .modal-open[style] {
            padding-right: 0px !important;
        }
    </style>
{{/section}}

<div class="col-sm-9">
    <div class="container">

        {{!--
        <div class="row justify-content-between mb-3">
            <b class="h3">Danh mục</b>
            <a class="btn btn-outline-primary m-0" href="#" role="button">
                <i class="fa fa-backward" aria-hidden="true"></i>
                Quay lại
            </a>
        </div>
        --}}

        <div class="row">
            <div class="card w-100">
                <div class="card-header row justify-content-between m-0">
                    <div class="col-lg-3 mb-2">

                        {{!--
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                                Danh mục
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Thể Thao</a>
                                <a class="dropdown-item" href="#">Âm Nhạc</a>
                                <a class="dropdown-item" href="#">Điện Thoại</a>
                            </div>
                        </div>
                        --}}

                    </div>
                    <div class="col-lg-6 mb-2">
                        <form action="/admin/category" method="get">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Nhập tên danh mục" aria-label="Search" aria-describedby="button-addon2" name="keyword">
                                <div class="input-group-append" >
                                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2">
                                      Tìm kiếm
                                      <i class="fa fa-search" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="col-lg-3 mb-2 d-flex justify-content-end">
                        <a class="btn btn-outline-success" href="/admin/category/add" role="button">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Thêm danh mục
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    {{!--
                    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col"></th>
                            <th scope="col">Danh mục</th>
                            <th scope="col">Số lượng sản phẩm</th>
                            <th scope="col"></th>
                          </tr>
                        </thead>
                        {{!--
                        <tbody>
                        {{#each this.listCategory}}
                          <tr>
                            <td>{{catParent}}</td>
                            <td>{{quantity}}</td>
                            <td class="text-right">
                                <form action="/admin/category/delete" method="post">
                                    <input type="hidden" value="{{_id}}" name="id">
                                    <button class="btn btn-outline-danger " type="submit">
                                        <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                                        Xóa
                                    </button>
                                    <a class="btn btn-outline-primary " href="/admin/category/{{_id}}" role="button">
                                        <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                        Chỉnh sửa
                                    </a>
                                </form>
                            </td>
                            {{#each catChild}}
                                <tr>
                                  <td>- {{name}}</td>
                                  <td>{{quantity}}</td>
                                  <td class="text-right">
                                      <form action="/admin/category/child/delete" method="post">
                                          <input type="hidden" value="{{_id}}" name="childId">
                                          <input type="hidden" value="{{../_id}}" name="parentId">
                                          <button class="btn btn-outline-danger " type="submit">
                                              <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                                              Xóa
                                          </button>
                                          <a class="btn btn-outline-primary " href="/admin/category/{{../_id}}/{{_id}}/{{name}}" role="button">
                                              <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                              Chỉnh sửa
                                          </a>
                                      </form>
                                  </td>
                                </tr>
                            {{/each}}
                          </tr>
                        {{/each}}
                        </tbody>
                    </table>
                    --}}
                    {{#if this.curPage.check}}
                        {{#each this.listResult}}
                            <div class="panel-group mb-4">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <h4 class="panel-title">
                                                    <a class="text-decoration-none" data-toggle="collapse" href="#collapse{{_id}}">{{catParent}}</a>
                                                </h4>
                                            </div>
                                            <div class="col-lg-4">
                                                <strong>Số lượng: {{quantity}}</strong>
                                            </div>
                                            <div class="col-lg-3">
                                                <form action="/admin/category/delete" method="post">
                                                    <input type="hidden" value="{{_id}}" name="id">
                                                    <button class="btn btn-outline-danger" type="button" data-toggle="modal" data-target="#exampleModalCenter_1{{_id}}">
                                                        <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                                                        Xóa
                                                    </button>
                                                    <div class="modal fade" id="exampleModalCenter_1{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h1 class="modal-title" id="exampleModalLongTitle">Cảnh báo</h1>
                                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                        <span aria-hidden="true">&times;</span>
                                                                    </button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <div class="row justify-content-center d-flex">
                                                                        <strong>Bạn có chắc chắn xóa danh mục cha này?</strong>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                                    <button type="submit" class="btn btn-primary">Xác nhận</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a class="btn btn-outline-primary " href="/admin/category/{{_id}}" role="button">
                                                        <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                                        Chỉnh sửa
                                                    </a>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="collapse{{_id}}" class="panel-collapse collapse">
                                        <ul class="list-group">
                                            {{#each catChild}}
                                                <li class="list-group-item">
                                                    <div class="row">
                                                        <div class="col-lg-5">
                                                            <strong class="has-text-primary-dark">{{name}}</strong>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <strong>Số lượng: {{quantity}}</strong>
                                                        </div>
                                                        <div class="col-lg-3 d-flex justify-content-end">
                                                            <form action="/admin/category/child/delete" method="post">
                                                                <input type="hidden" value="{{_id}}" name="childId">
                                                                <input type="hidden" value="{{../_id}}" name="parentId">
                                                                <button class="btn btn-outline-danger " type="button" data-toggle="modal" data-target="#exampleModalCenter_2{{_id}}">
                                                                    <i class="fa fa-trash mr-2" aria-hidden="true"></i>
                                                                    Xóa
                                                                </button>
                                                                <div class="modal fade" id="exampleModalCenter_2{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                                                        <div class="modal-content">
                                                                            <div class="modal-header">
                                                                                <h1 class="modal-title" id="exampleModalLongTitle">Cảnh báo</h1>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body">
                                                                                <div class="row justify-content-center d-flex">
                                                                                    <strong>Bạn có chắc chắn xóa danh mục con này?</strong>
                                                                                </div>
                                                                            </div>
                                                                            <div class="modal-footer">
                                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                                                                                <button type="submit" class="btn btn-primary">Xác nhận</button>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <a class="btn btn-outline-primary " href="/admin/category/{{../_id}}/{{_id}}/{{name}}" role="button">
                                                                    <i class="fa fa-pencil mr-2" aria-hidden="true"></i>
                                                                    Chỉnh sửa
                                                                </a>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </li>
                                            {{/each}}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                    <div>
                        <nav class="pagination is-right is-medium" role="navigation" aria-label="pagination">
                            {{#if this.prevPage.check}}
                                <a class="pagination-previous page-link" style="text-decoration:none" href="category?page={{this.prevPage.value}}">Previous page</a>
                            {{/if}}
                            {{#if this.nexPage.check}}
                                <a class="pagination-next page-link" style="text-decoration:none" href="category?page={{this.nexPage.value}}">Next page</a>
                            {{/if}}
                            <ul class="pagination-list">
                                {{#if this.prevPage.check}}
                                    <li><a class="pagination-link page-link" style="text-decoration:none" href="category?page={{this.prevPage.value}}">{{this.prevPage.value}}</a></li>
                                {{/if}}
                                <li><a style="text-decoration:none" class="pagination-link is-current">{{this.curPage.value}}</a></li>
                                {{#if this.nexPage.check}}
                                    <li><a class="pagination-link page-link" style="text-decoration:none" href="category?page={{this.nexPage.value}}">{{this.nexPage.value}}</a></li>
                                {{/if}}
                            </ul>
                        </nav>
                    </div>
                    {{else}}
                        <p class="h2">
                            Không tìm thấy kết quả
                        </p>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>