<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Auction</title>
    {{!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    --}}
<!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">-->
    <link type="text/css" rel="stylesheet" href="/public/main/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="/public/main/css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="/public/main/css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="/public/main/css/nouislider.min.css"/>
    <link type="text/css" rel="stylesheet" href="/public/main/css/style.css"/>
    <style>
        .dropdownBtn:hover{
            background-color: #D10024;
        }

        .favBtn:hover{
            background-color: #D10024;
        }

        .dropdownMenu > a{
            display: block;
            font-size: 18px;
        }

        .dropdownMenu{
            padding: 5px;
            width: 250px !important;
        }
    </style>
    {{{_sections.css}}}
</head>
{{!--
<body>
<nav class="navbar has-background-grey-light" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
        </a>
        <a role="button" class="navbar-burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a style="text-decoration:none" class="navbar-item" href="/">
                <strong>Trang chủ</strong>
            </a>
            <a style="text-decoration:none" class="navbar-item" href="/product">
                <strong>Sản phẩm </strong>
            </a>
        </div>
        <form class="navbar-item" action="/search" method="get">
            <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Nhập từ khóa tìm kiếm" name="keyword">
                <span class="icon is-left is-small">
                    <i class="fa fa-search"></i>
                </span>
            </div>
            <div class="select">
                <select name="with">
                    <option value="name">Theo tên</option>
                    <option value="category">Theo danh mục</option>
                </select>
            </div>
            <div>&nbsp;&nbsp;&nbsp;&nbsp;</div>
            <button class="button is-success" type="submit">
                <span>Tìm kiếm</span>
                <span class="icon is-small">
                    <i class="fa fa-search"></i>
                </span>
            </button>
        </form>
        <div class="navbar-end">
            <div class="navbar-item">
                {{#if auth}}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <div href="#" class="navbar-link">
                            <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>
                            <p class="ml-3">{{user.name}}</p>
                        </div>
                        <div class="navbar-dropdown">
<!--                            <a class="navbar-item text-decoration-none">-->
<!--                                <i class="fa fa-user fa-2x mr-2" aria-hidden="true"></i>-->
<!--                                Thông tin cá nhân-->
<!--                            </a>-->
                            {{#if bidderRole}}
                                <a class="navbar-item text-decoration-none" href="../user/update-profile">
                                    <i class="fa fa-user fa-2x mr-2" aria-hidden="true"></i>
                                    Thông tin cá nhân
                                </a>
                                <a class="navbar-item text-decoration-none" href="../user/favorite">
                                    <i class="fa fa-heart-o fa-2x mr-2" aria-hidden="true"></i>
                                    Danh sách yêu thích
                                </a>
                                <a class="navbar-item text-decoration-none" href="../user/auction-history">
                                    <i class="fa fa-history fa-2x mr-2" aria-hidden="true"></i>
                                    Lịch sử đấu giá
                                </a>
                                <a class="navbar-item text-decoration-none" href="../user/comment-from-seller">
                                    <i class="fa fa-comment fa-2x mr-2" aria-hidden="true"></i>
                                    Đánh giá từ người bán
                                </a>
                            {{else}}
                                {{#if adminRole}}
                                    <a class="navbar-item text-decoration-none" href="/admin">
                                        <i class="fa fa-cube fa-2x mr-2" aria-hidden="true"></i>
                                        Kênh quản trị
                                    </a>
                                {{else}}
                                    <a class="navbar-item text-decoration-none" href="../user/update-profile">
                                        <i class="fa fa-user fa-2x mr-2" aria-hidden="true"></i>
                                        Thông tin cá nhân
                                    </a>
                                    <a class="navbar-item text-decoration-none" href="/seller/channel">
                                        <i class="fa fa-cube fa-2x mr-2" aria-hidden="true"></i>
                                        Kênh người bán
                                    </a>
                                {{/if}}
                            {{/if}}
                            <hr class="navbar-divider">
                            <form id="formLogout" action="/account/logout" method="post"></form>
                            <a class="navbar-item text-decoration-none" href="javascript: $('#formLogout').submit();">
                                <i class="fa fa-sign-out fa-2x mr-2" aria-hidden="true"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </div>
                {{else}}
                    <div class="buttons">
                        <a style="text-decoration:none" class="button is-primary" href="/login">
                            <strong>Đăng nhập</strong>
                        </a>
                        <a style="text-decoration:none" class="button is-light" href="/signup">
                            Đăng ký
                        </a>
                    </div>
                {{/if}}
            </div>
        </div>
    </div>
</nav>
<div class="row">
    <nav class="navbar" id="homePageNavbar" role="navigation" aria-label="dropdown navigation">
        {{#each this.categories}}
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" href="/product?category={{catParent}}">
                    <strong>{{catParent}}</strong>
                </a>
                <div class="navbar-dropdown">
                    {{#each catChild}}
                        <a class="navbar-item" href="/product?category={{name}}">
                            {{name}}
                        </a>
                    {{/each}}
                </div>
            </div>
        {{/each}}
    </nav>
</div>
{{{body}}}
<footer class="footer has-background-grey-light" id="footer">
    <div class="row">
        <div class="col-4">
            <div class="content">
                <p class="has-text-centered">
                    <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
                </p>
                <p>
                    <span class="icon is-small">
                        <i class="fa fa-map-marker"></i>
                    </span>
                    <span>Địa chỉ: University of Science</span>
                </p>
                <p>
                    <span class="icon is-small">
                        <i class="fa fa-phone"></i>
                    </span>
                    <span>Số điện thoại: +84123-456-789</span>
                </p>
                <p>
                    <span class="icon is-small">
                        <i class="fa fa-envelope"></i>
                    </span>
                    <span>Email: admin@gmail.com</span>
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="content has-text-centered">
                <p class="h2">
                    <strong>VỀ CHÚNG TÔI</strong>
                </p>
                <p>
                    SLOGAN OF PRODUCT
                </p>
            </div>
        </div>
        <div class="col-4">
            <div class="content has-text-centered">
                <p class="h2">
                    <strong>SOCIAL MEDIA</strong>
                </p>
                <button class="button">
                    <a style="text-decoration:none" href="https://facebook.com" target="_top">
                        <span class="icon is-small">
                            <i class="fa fa-facebook"></i>
                        </span>
                    </a>
                </button>
                <button class="button">
                    <a style="text-decoration:none" href="https://instagram.com" target="_top">
                        <span class="icon is-small">
                            <i class="fa fa-instagram"></i>
                        </span>
                    </a>
                </button>
                <button class="button">
                    <a style="text-decoration:none" href="https://twitter.com" target="_top">
                        <span class="icon is-small">
                            <i class="fa fa-twitter"></i>
                        </span>
                    </a>
                </button>
            </div>
        </div>
    </div>
</footer>
--}}
<form id="formLogout" action="/account/logout" method="post"></form>
<body>
    <header>
        <div id="header">
            <div class="container">
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="https://hltcons.com/wp-content/uploads/2021/03/HLTCONS.png" width="200px" height="70px">
                            </a>
                        </div>
                    </div>
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form action="/search" method="get">
                                <select class="input-select" name="with">
                                    <option value="name">Theo tên</option>
                                    <option value="category">Theo danh mục</option>
                                </select>
                                <input class="input" placeholder="Tìm kiếm sản phẩm" name="keyword">
                                <button class="search-btn" type="submit">Tìm kiếm</button>
                            </form>
                        </div>
                    </div>

                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix ">
                        <div class="header-ctn">
                            <!-- Right menu -->
                            {{#if auth}}
                                {{!--
                                <div style="display: block!important;">
                                    <a href="/user/favorite"  role="button" class="favBtn" style="text-align: left !important; padding: 5px; width: 100%">
                                        <i class="fa fa-heart-o fa-2x" aria-hidden="true" style="display: inline !important; font-size: 25px !important;"></i>
                                        <span class="h3" style="margin-left: 5px; font-size: 20px">Yêu thích</span>
                                    </a>
                                </div>


                                <div >
                                    <ul class="navbar-nav  ">
                                        <li class="nav-item dropdown w-100 row justify-content-end dropdownBtn" style="padding: 5px">
                                            <a class="nav-link dropdown-toggle ml-auto "
                                               href="#"
                                               id="navbarDropdown"
                                               role="button"
                                               data-toggle="dropdown"
                                               aria-expanded="false"
                                               style="color: #FFFFFF">
                                                <i class="fa fa-user-circle fa-2x" aria-hidden="true"></i>
                                                <span  style="margin-left: 5px; margin-right: 10px">
                                                    <b class="h3">
                                                        {{user.name}}
                                                    </b>
                                                </span>
                                                <i class="fa fa-caret-down fa-2x"></i>
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right dropdownMenu " aria-labelledby="navbarDropdown" style="width: 200px">
                                                {{#if bidderRole}}
                                                    <a class="dropdown-item text-decoration-none" href="/user/update-profile" >
                                                        <i class="fa fa-user fa-2x mr-2" aria-hidden="true"></i>
                                                        Thông tin cá nhân
                                                    </a>
                                                    <a class="dropdown-item text-decoration-none" href="/user/favorite">
                                                        <i class="fa fa-heart-o fa-2x mr-2" aria-hidden="true"></i>
                                                        Danh sách yêu thích
                                                    </a>
                                                    <a class="dropdown-item text-decoration-none" href="/user/auction-history">
                                                        <i class="fa fa-history fa-2x mr-2" aria-hidden="true"></i>
                                                        Lịch sử đấu giá
                                                    </a>
                                                    <a class="dropdown-item text-decoration-none" href="/user/comment-from-seller/{{user._id}}">
                                                        <i class="fa fa-comment fa-2x mr-2" aria-hidden="true"></i>
                                                        Đánh giá từ người bán
                                                    </a>
                                                {{else}}
                                                    {{#if adminRole}}
                                                        <a class="dropdown-item text-decoration-none" href="/user/update-profile" >
                                                            <i class="fa fa-user fa-2x mr-2" aria-hidden="true"></i>
                                                            Thông tin cá nhân
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/user/favorite">
                                                            <i class="fa fa-heart-o fa-2x mr-2" aria-hidden="true"></i>
                                                            Danh sách yêu thích
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/user/auction-history">
                                                            <i class="fa fa-history fa-2x mr-2" aria-hidden="true"></i>
                                                            Lịch sử đấu giá
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/user/comment-from-seller/{{user._id}}">
                                                            <i class="fa fa-comment fa-2x mr-2" aria-hidden="true"></i>
                                                            Đánh giá từ người bán
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/admin">
                                                            <i class="fa fa-cube fa-2x mr-2" aria-hidden="true"></i>
                                                            Kênh quản trị
                                                        </a>
                                                    {{else}}
                                                        <a class="dropdown-item text-decoration-none" href="/user/update-profile" >
                                                            <i class="fa fa-user fa-2x mr-2" aria-hidden="true"></i>
                                                            Thông tin cá nhân
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/user/favorite">
                                                            <i class="fa fa-heart-o fa-2x mr-2" aria-hidden="true"></i>
                                                            Danh sách yêu thích
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/user/auction-history">
                                                            <i class="fa fa-history fa-2x mr-2" aria-hidden="true"></i>
                                                            Lịch sử đấu giá
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/user/comment-from-seller/{{user._id}}">
                                                            <i class="fa fa-comment fa-2x mr-2" aria-hidden="true"></i>
                                                            Đánh giá từ người bán
                                                        </a>
                                                        <a class="dropdown-item text-decoration-none" href="/seller/channel">
                                                            <i class="fa fa-cube fa-2x mr-2" aria-hidden="true"></i>
                                                            Kênh người bán
                                                        </a>
                                                    {{/if}}
                                                {{/if}}
                                                <hr class="dropdown-divider">
                                                <form id="formLogout" action="/account/logout" method="post"></form>
                                                <a class="dropdown-item text-decoration-none"  href="javascript: $('#formLogout').submit();">
                                                    <i class="fa fa-sign-out fa-2x mr-2" aria-hidden="true"></i>
                                                    Đăng xuất
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                --}}
                                <div>
                                    <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-user"></i>
                                        <span>{{user.name}}</span>
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        {{#if adminRole}}
                                            <p><a class="dropdown-item" href="/admin"><i class="fa fa-cube"></i> Kênh quản trị</a></p>
                                        {{/if}}
                                        {{#if sellerRole}}
                                            <p><a class="dropdown-item" href="/seller/channel"><i class="fa fa-cube"></i> Kênh người bán</a></p>
                                        {{/if}}
                                        <p><a class="dropdown-item" href="/user/update-profile"><i class="fa fa-user"></i> Thông tin cá nhân</a></p>
                                        <p><a class="dropdown-item" href="/user/favorite"><i class="fa fa-heart"></i> Danh sách yêu thích</a></p>
                                        <p><a class="dropdown-item" href="/user/auction-history"><i class="fa fa-history"></i> Lịch sử đấu giá</a></p>
                                        <p><a class="dropdown-item" href="/user/comment-from-seller/{{user._id}}"><i class="fa fa-comment"></i> Đánh giá từ người bán</a></p>
                                    </div>
                                </div>
                                <div>
                                    <a href="javascript: $('#formLogout').submit();">
                                        <i class="fa fa-sign-out"></i>
                                        <span>Đăng xuất</span>
                                    </a>
                                </div>
                            {{else}}
                                <div>
                                    <a href="/login">
                                        <i class="fa fa-sign-in"></i>
                                        <span>Đăng nhập</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="/signup">
                                        <i class="fa fa-user-plus"></i>
                                        <span>Đăng ký</span>
                                    </a>
                                </div>
                            {{/if}}
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a href="/">Trang chủ</a></li>
                    <li><a href="/product">Sản phẩm</a></li>
                    {{#each this.categories}}
                        <li><a href="/product?category={{catParent}}">{{catParent}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </nav>
    {{{body}}}
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Về chúng tôi</h3>
                            <p></p>
                            <ul class="footer-links">
                                <li><a><i class="fa fa-map-marker"></i>Đại học Khoa học Tự nhiên</a></li>
                                <li><a><i class="fa fa-phone"></i>+841-234-5678</a></li>
                                <li><a><i class="fa fa-envelope-o"></i>fit@hcmus.edu.vn</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-xs-6"></div>
                    <div class="clearfix visible-xs"></div>
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Dịch vụ</h3>
                            <ul class="footer-links">
                                <li><a href="/product">Sản phẩm</a></li>
                                <li><a href="/user/update-profile">Tài khoản</a></li>
                                <li><a href="/user/favorite">Danh sách yêu thích</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a><i class="fa fa-cc-visa"></i></a></li>
                            <li><a><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a><i class="fa fa-cc-mastercard"></i></a></li>
                        </ul>
                        <span class="copyright">
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>

{{!--
<script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2" crossorigin="anonymous"></script>
--}}
<script src="/public/main/js/jquery.min.js"></script>
<script src="/public/main/js/bootstrap.min.js"></script>
<script src="/public/main/js/slick.min.js"></script>
<script src="/public/main/js/nouislider.min.js"></script>
<script src="/public/main/js/jquery.zoom.min.js"></script>
<script src="/public/main/js/main.js"></script>
{{{_sections.js}}}
</body>
</html>