{{#section 'js'}}
    <script>

    </script>
{{/section}}

{{#section 'css'}}
    <style>
        .modal{
            z-index: 999999;
        }
    </style>

{{/section}}

<!--<form method="post" action="/seller/channel/product/detail/{{this.productID}}/list">-->
<!--    <input type="text" name="userID" id="userIDInput" hidden>-->
<!--</form>-->

<div class="container">
    <div class="row justify-content-between my-5">
        <b class="h3">Danh sách bidder đã đấu giá</b>
        <a class="btn btn-outline-primary m-0" href="/seller/channel/product/detail/{{this.productID}}" role="button">
            <i class="fa fa-backward" aria-hidden="true"></i>
            Quay lại
        </a>
    </div>


    {{#if emptyMsg}}
        <p class="text-danger h1">{{this.emptyMsg}}</p>
    {{else}}
        <div class="row">
            <div class="card w-100">
                <div class="card-body">
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th scope="col p-0">#</th>
                            <th scope="col">Thời điểm</th>
                            <th scope="col">Người mua</th>
                            <th scope="col">Giá</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>

                        <tbody>

                        {{#each this.bidderHistory}}
                            <tr>
                                <th scope="row">{{@index}}</th>
                                <td>{{format_date dateBid}}</td>
                                {{#each bidderInfo}}
                                    <td>{{ email}}</td>

                                    <td>{{format_number ../price}}</td>


                                    <td class="text-right">
                                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal{{_id}}">
                                            <i class="fa fa-ban mr-2" aria-hidden="true"></i>
                                            <span>
                                                Từ chối
                                            </span>
                                        </button>

                                        <a type="button" class="btn btn-outline-primary" href="#">
                                            <i class="fa fa-eye mr-2" aria-hidden="true"></i>
                                            <span>
                                                Xem đánh giá
                                            </span>
                                        </a>
                                    </td>

                                    <div class="modal fade" id="deleteModal{{_id}}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="deleteModalLabel">Modal title</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    Bạn có chắc muốn từ chối người mua này không ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn" data-dismiss="modal">No</button>

                                                    <form method="post" action="">
                                                        <input name="userID" value="{{_id}}" hidden>
                                                        <button type="submit" class="btn btn-primary" onclick="alert({{_id}})">Yes</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}

                            </tr>
                        {{/each}}
                        </tbody>
                    </table>

                </div>
                <div class="card-footer text-muted">
                    <nav class="pagination is-right is-rounded is-medium" role="navigation" aria-label="pagination">
                        {{#if this.prevPage.check}}
                            <a class="pagination-previous page-link" style="text-decoration:none" href="/seller/channel/product/detail/{{this.productID}}/list/?page={{this.prevPage.value}}">Previous page</a>
                        {{/if}}

                        {{#if this.nextPage.check}}
                            <a class="pagination-next page-link" style="text-decoration:none" href="/seller/channel/product/detail/{{this.productID}}/list/?page={{this.nextPage.value}}">Next page</a>
                        {{/if}}

                        <ul class="pagination-list">
                            {{#if this.prevPage.check}}
                                <li><a class="pagination-link page-link" style="text-decoration:none" href="/seller/channel/product/detail/{{this.productID}}/list/?page={{this.prevPage.value}}">{{this.prevPage.value}}</a></li>
                            {{/if}}

                            <li><a style="text-decoration:none" class="pagination-link is-current">{{this.curPage.value}}</a></li>

                            {{#if this.nextPage.check}}
                                <li><a class="pagination-link page-link" style="text-decoration:none" href="/seller/channel/product/detail/{{this.productID}}/list/?page={{this.nextPage.value}}">{{this.nextPage.value}}</a></li>
                            {{/if}}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    {{/if}}

</div>


