{{#section 'js'}}
<!--    <script>-->
<!--        function countDown(el) { // Create a function that recieves the element as argument-->

<!--            const countDownDate = new Date(el.dataset.date).getTime();-->
<!--            const now = new Date().getTime();-->
<!--            const dif = countDownDate - now;-->
<!--            const h = Math.floor( dif / (1000 * 60 * 60));-->
<!--            const m = Math.floor((dif % (1000 * 60 * 60)) / (1000 * 60));-->
<!--            if (h >= 1 || m > 10)-->
<!--                return;-->



<!--            const x = setInterval(function() {-->

<!--                const now = new Date().getTime();-->
<!--                const dif = countDownDate - now;-->
<!--                const h = Math.floor( dif / (1000 * 60 * 60));-->
<!--                const m = Math.floor((dif % (1000 * 60 * 60)) / (1000 * 60));-->
<!--                const s = Math.floor((dif % (1000 * 60)) / 1000);-->

<!--                const formatted = `<span class="text-danger h4">Còn ${m} phút ${s} giây</span>`;-->
<!--                // Output the result in the argument element-->
<!--                el.innerHTML = dif < 0 ? "Đã hết hạn" : formatted;-->

<!--                // If the count down is over, stop Intervals-->
<!--                if (dif < 0) {-->
<!--                    clearInterval(x);-->
<!--                }-->
<!--            }, 1000);-->

<!--        }-->


<!--        [...document.querySelectorAll("[data-date]")].forEach(el => countDown(el));-->
<!--    </script>-->

        <script>
            $('#searchBtn').click(function (e){
                const keyword = $('#keyword').val();
                const ref = $(this).data('ref');
                const newURl = ref + `&keyword=${keyword}`
                $(this).attr('href', newURl);
            })
        </script>

{{/section}}

{{#section 'css'}}
    <style>
        .front{
            z-index: 90 !important;
        }

        .back{
            z-index: -1 !important;
        }

        .productElement:hover{
            filter: alpha(opacity=80);
            opacity: 0.8;
        }

        .mainThumb{
            float:left;
            width: 400px;
            height: 400px;
            object-fit: cover;
        }
    </style>
{{/section}}

 <div class="container">
    <div class="card-header row front">
        <div class="col-md-6 mt-2">
            <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="btnGroupAddon">Hiển thị theo</div>
                </div>
                <div class="dropdow">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-expanded="false">
                        {{status}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 90 !important;">
                        <a class="dropdown-item" href="/seller/channel/product/{{this.initalPagePath}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}">Tất cả</a>
                        <a class="dropdown-item" href="/seller/channel/product/{{this.initalPagePath}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}&status=1">Đấu giá thành công</a>
                        <a class="dropdown-item" href="/seller/channel/product/{{this.initalPagePath}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}&status=2">Đấu giá thất bại</a>
                        <a class="dropdown-item" href="/seller/channel/product/{{this.initalPagePath}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}&status=3">Đang được đấu giá</a>
                        <a class="dropdown-item" href="/seller/channel/product/{{this.initalPagePath}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}&status=4">Chưa được đấu giá</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6 mt-2">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Product Name..." name="keyword" aria-describedby="button-addon2" id="keyword" value="">

                <div class="input-group-append">
                    <a class="btn btn-outline-secondary"
                       data-ref="/seller/channel/product/{{this.initalPagePath}}{{this.catParentPath}}{{this.catChildPath}}{{this.statusPath}}"
                       id="searchBtn"
                       href="">
                        Search
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>


     <div class="row back">
         <div class="col-md-8">
             <nav class="navbar" id="homePageNavbar" role="navigation" aria-label="dropdown navigation">
                 <a style="text-decoration:none" class="navbar-link" href="/seller/channel/product/{{this.initalPagePath}}{{this.statusPath}}">
                     <strong> Tất cả</strong>
                 </a>
                 {{#each this.categories}}
                     <div class="navbar-item has-dropdown is-hoverable">
                         <a style="text-decoration:none "
                            class="navbar-link {{#if isActive}} btn btn-secondary {{/if}} "
                            href="/seller/channel/product/{{../initalPagePath}}{{../statusPath}}{{../keywordPath}}&catParent={{_id}}">
                         <strong> {{catParent}}</strong>
                         </a>
                         <div class="navbar-dropdown">
                             {{#each catChild}}
                                 <a class="navbar-item {{#if isActive}} btn btn-secondary {{/if}}" href="/seller/channel/product/{{../../initalPagePath}}{{../../this.statusPath}}{{../../this.keywordPath}}&catParent={{../_id}}&catChild={{@index}}">
                                 {{name}}
                                 </a>
                             {{/each}}
                         </div>
                     </div>
                 {{/each}}
             </nav>
         </div>

         <div class="col-md-4">
             <select class="select mt-2 w-100" onchange="location = this.value;">
                 <option value="/seller/channel/product{{this.initalPagePath}}{{this.catParentPath}}{{this.keywordPath}}{{this.catChildPath}}{{this.statusPath}}&select=1" selected>
                     Sắp xếp theo thời gian
                 </option>
                 <option value="/seller/channel/product{{this.initalPagePath}}{{this.catParentPath}}{{this.keywordPath}}{{this.catChildPath}}{{this.statusPath}}&select=2">
                     Sắp xếp theo giá
                 </option>
             </select>
         </div>
     </div>

     {{#if emptyMsg}}
         <p class="text-danger h1">{{emptyMsg}}</p>
     {{else}}
         <div class="row mt-3" >
             {{#each this.products}}
                 <a class="col-xl-4 col-lg-6 p-3 clickElement productElement" style="text-decoration: none" href="/seller/channel/product/detail/{{_id}}">
                     <div class="card h-100">
                         <img src = "/public/{{_id}}/{{mainThumb}}"
                              class="card-img-top mainThumb"
                              alt="Hình"
                              width="200"
                              height="200">

                         <div class="card-body d-flex flex-column justify-content-between">
                             <p class="h4 font-weight-bold">{{proName}}</p>
                             <p class="mt-5 text-secondary h5">
                                 {{catParent}} - {{catChild}}
                             </p>
                         </div>


                         <div class="card-footer justify-content-between">
                             <p class="h5">
                                 <i class="fa fa-clock-o fa-2x" aria-hidden="true"></i>
                                 <span class="countTime" data-date="{{proEndDate}}">
                                     {{{format_duration proEndDate}}}
                                 </span>
                             </p>

                             <p class="h4 mt-3">
                                 {{format_number proCurBidPrice}} ₫
                             </p>
                         </div>
                     </div>
                 </a>
             {{/each}}

         </div>

         <nav class="pagination is-right is-rounded is-medium" role="navigation" aria-label="pagination">
             {{#if this.prevPage.check}}
                 <a class="pagination-previous page-link"
                    style="text-decoration:none"
                    href="/seller/channel/product/?page={{this.prevPage.value}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}{{this.statusPath}}">Previous page</a>
             {{/if}}

             {{#if this.nextPage.check}}
                 <a class="pagination-next page-link"
                    style="text-decoration:none"
                    href="/seller/channel/product/?page={{this.nextPage.value}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}{{this.statusPath}}">Next page</a>
             {{/if}}

             <ul class="pagination-list">
                 {{#if this.prevPage.check}}
                     <li>
                         <a class="pagination-link page-link"
                            style="text-decoration:none"
                            href="/seller/channel/product/?page={{this.prevPage.value}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}{{this.statusPath}}">
                         {{this.prevPage.value}}
                         </a>
                     </li>
                 {{/if}}

                 <li>
                     <a style="text-decoration:none" class="pagination-link is-current">
                         {{this.curPage.value}}
                     </a>
                 </li>

                 {{#if this.nextPage.check}}
                     <li>
                         <a class="pagination-link page-link"
                            style="text-decoration:none"
                            href="/seller/channel/product/?page={{this.nextPage.value}}{{this.catParentPath}}{{this.catChildPath}}{{this.keywordPath}}{{this.statusPath}}">
                         {{this.nextPage.value}}
                         </a>
                     </li>
                 {{/if}}
             </ul>
         </nav>
     {{/if}}




</div>


