{{#section 'js'}}
    <script>
        $('.addItemFavorite').on('click', function (e){
            const id = $(this).data('id');
            $('#txtProID').val(id);
            $('#formAddFavorite').submit();
            alert("Đã thêm vào danh sách yêu thích")
        });
    </script>
{{/section}}

<form action="/user/favorite/add" method="post" id="formAddFavorite">
    <input type="text" name="id" id="txtProID" hidden>
</form>

{{!--
<p class="has-text-centered h5">
    Lần cuối cập nhật: <strong> {{this.now}} </strong>
</p>
<p class="has-text-centered h2">
    <strong> TOP 5 SẢN PHẨM GẦN KẾT THÚC </strong>
</p>
<div class="row justify-content-center">
    {{#each this.listExpiration}}
        <div class="card" style="width: 18.5rem;">
            <a style="text-decoration:none" href="/product/{{_id}}">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="/public/{{_id}}/{{mainThumb}}" alt="Placeholder image">
                    </figure>
                </div>
            </a>
            {{#if ../auth}}
                <div class="content">
                    <a data-id="{{_id}}" class="addItemFavorite"><button type="button" class="btn is-info btn-lg btn-block button mb-1">Thêm vào yêu thích</button></a>
                </div>
            {{/if}}
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <a style="text-decoration:none" href="/product/{{_id}}">
                            <p class="title is-4">{{proName}}</p>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <p> Giá hiện tại: {{format_number proCurBidPrice}}</p>
                    <p> Người đặt hiện tại: {{curBidderInfo}} </p>
                    <p> Giá mua ngay: {{format_number proBuyNowPrice}}</p>
                    <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                    <p> Thời gian còn lại: {{format_number time}} giờ</p>
                    <p> Số lượt ra giá: {{proBidQuantity}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<p>&nbsp;</p>
<p class="has-text-centered h2">
    <strong> TOP 5 SẢN PHẨM CÓ NHIỀU LƯỢT RA GIÁ NHẤT </strong>
</p>
<div class="row justify-content-center">
    {{#each this.listMostBid}}
        <div class="card" style="width: 18.5rem;">
            <a style="text-decoration:none" href="/product/{{_id}}">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="/public/{{_id}}/{{mainThumb}}" alt="Placeholder image">
                    </figure>
                </div>
            </a>
            {{#if ../auth}}
            <div class="content">
                <a data-id="{{_id}}" class="addItemFavorite"><button type="button" class="btn is-info btn-lg btn-block button mb-1">Thêm vào yêu thích</button></a>
            </div>
            {{/if}}
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <a style="text-decoration:none" href="/product/{{_id}}">
                           <p class="title is-4">{{proName}}</p>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <p> Giá hiện tại: {{format_number proCurBidPrice}}</p>
                    <p> Người đặt hiện tại: {{curBidderInfo}} </p>
                    <p> Giá mua ngay: {{format_number proBuyNowPrice}}</p>
                    <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                    <p> Thời gian còn lại: {{format_number time}} giờ</p>
                    <p> Số lượt ra giá: {{proBidQuantity}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<p>&nbsp;</p>
<p class="has-text-centered h2">
    <strong> TOP 5 SẢN PHẨM CÓ GIÁ CAO NHẤT </strong>
</p>
<div class="row justify-content-center">
    {{#each this.listTopPrice}}
        <div class="card" style="width: 18.5rem;">
            <a style="text-decoration:none" href="/product/{{_id}}">
                <div class="card-image">
                    <figure class="image is-4by3">
                        <img src="/public/{{_id}}/{{mainThumb}}" alt="Placeholder image">
                    </figure>
                </div>
            </a>
            {{#if ../auth}}
                <div class="content">
                    <a data-id="{{_id}}" class="addItemFavorite"><button type="button" class="btn is-info btn-lg btn-block button mb-1">Thêm vào yêu thích</button></a>
                </div>
            {{/if}}
            <div class="card-content">
                <div class="media">
                    <div class="media-content">
                        <a style="text-decoration:none" href="/product/{{_id}}">
                            <p class="title is-4">{{proName}}</p>
                        </a>
                    </div>
                </div>
                <div class="content">
                    <p> Giá hiện tại: {{format_number proCurBidPrice}}</p>
                    <p> Người đặt hiện tại: {{curBidderInfo}} </p>
                    <p> Giá mua ngay: {{format_number proBuyNowPrice}}</p>
                    <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                    <p> Thời gian còn lại: {{format_number time}} giờ</p>
                    <p> Số lượt ra giá: {{proBidQuantity}}</p>
                </div>
            </div>
        </div>
    {{/each}}
</div>
<p>&nbsp;</p>
--}}

<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm gần kết thúc</h3>
                </div>
            </div>
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab1" class="tab-pane active">
                            <div class="products-slick" data-nav="#slick-nav-1">
                                <!-- product -->
                                {{#each this.listExpiration}}
                                <div class="product">
                                    <div class="product-img">
                                        <img src="/public/{{_id}}/{{mainThumb}}" alt="">
                                        {{#if check}}
                                            <div class="product-label">
                                                <span class="new">NEW</span>
                                            </div>
                                        {{/if}}
                                    </div>
                                    <div class="product-body">
                                        <p class="product-category">{{catChild}}</p>
                                        <h3 class="product-name"><a href="/product/{{_id}}">{{proName}}</a></h3>
                                        <h4 class="product-price">Giá đấu: {{format_number proCurBidPrice}} VNĐ</h4>
                                        <div class="product-details">
                                            {{#each curBidderInfo}}
                                                <p> Người đặt hiện tại: {{email}} </p>
                                            {{/each}}
                                            <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                                            <p> Thời gian còn lại: {{format_number time}} giờ</p>
                                            <p> Số lượt ra giá: {{proBidQuantity}}</p>
                                        </div>
                                        <div class="product-btns">
                                            {{#if this.auth}}
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                            {{/if}}
                                            <button class="quick-view" onclick="location.href='/product/{{_id}}';"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                            </div>
                            <div id="slick-nav-1" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm nhiều lượt ra giá nhất</h3>
                </div>
            </div>
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab2" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-2">
                                <!-- product -->
                                {{#each this.listMostBid}}
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="/public/{{_id}}/{{mainThumb}}" alt="">
                                            {{#if check}}
                                                <div class="product-label">
                                                    <span class="new">NEW</span>
                                                </div>
                                            {{/if}}
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">{{catChild}}</p>
                                            <h3 class="product-name"><a href="/product/{{_id}}">{{proName}}</a></h3>
                                            <h4 class="product-price">Giá đấu: {{format_number proCurBidPrice}} VNĐ</h4>
                                            <div class="product-details">
                                                {{#each curBidderInfo}}
                                                    <p> Người đặt hiện tại: {{email}} </p>
                                                {{/each}}
                                                <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                                                <p> Thời gian còn lại: {{format_number time}} giờ</p>
                                                <p> Số lượt ra giá: {{proBidQuantity}}</p>
                                            </div>
                                            <div class="product-btns">
                                                {{#if this.auth}}
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                                {{/if}}
                                                <button class="quick-view" onclick="location.href='/product/{{_id}}';"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <div id="slick-nav-2" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h3 class="title">Sản phẩm giá cao nhất</h3>
                </div>
            </div>
            <!-- Products tab & slick -->
            <div class="col-md-12">
                <div class="row">
                    <div class="products-tabs">
                        <!-- tab -->
                        <div id="tab3" class="tab-pane fade in active">
                            <div class="products-slick" data-nav="#slick-nav-3">
                                <!-- product -->
                                {{#each this.listTopPrice}}
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="/public/{{_id}}/{{mainThumb}}" alt="">
                                            {{#if check}}
                                                <div class="product-label">
                                                    <span class="new">NEW</span>
                                                </div>
                                            {{/if}}
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">{{catChild}}</p>
                                            <h3 class="product-name"><a href="/product/{{_id}}">{{proName}}</a></h3>
                                            <h4 class="product-price">Giá đấu: {{format_number proCurBidPrice}} VNĐ</h4>
                                            <div class="product-details">
                                                {{#each curBidderInfo}}
                                                    <p> Người đặt hiện tại: {{email}} </p>
                                                {{/each}}
                                                <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                                                <p> Thời gian còn lại: {{format_number time}} giờ</p>
                                                <p> Số lượt ra giá: {{proBidQuantity}}</p>
                                            </div>
                                            <div class="product-btns">
                                                {{#if this.auth}}
                                                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Yêu thích</span></button>
                                                {{/if}}
                                                <button class="quick-view" onclick="location.href='/product/{{_id}}';"><i class="fa fa-eye"></i><span class="tooltipp">Xem chi tiết</span></button>
                                            </div>
                                        </div>
                                    </div>
                                {{/each}}
                            </div>
                            <div id="slick-nav-3" class="products-slick-nav"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>