<p class="has-text-centered h2">
    Kết quả tìm kiếm: {{this.keyword}}
</p>
<p>&nbsp;</p>
{{#if this.curPage.check}}
    <div class="row">
        {{#each this.listResult}}
            <div class="col-4 d-flex justify-content-center">
                <div class="card" style="width: 23rem;">
                    <a style="text-decoration:none" href="/product/{{_id}}">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                    </a>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <a style="text-decoration:none" href="/product/{{_id}}">
                                    <p class="title is-4">{{proName}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <p> Giá hiện tại: {{format_number proCurBidPrice}}</p>
                            <p> Người đặt hiện tại: {{curBidderInfo}} </p>
                            <p> Giá mua ngay: {{format_number proBuyNowPrice}}</p>
                            {{#if check}}
                                <p><strong> Ngày đăng sản phẩm: {{proStartDate}} </strong></p>
                            {{else}}
                                <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                            {{/if}}
                            <p> Thời gian còn lại: {{format_number time}} giờ</p>
                            <p> Số lượt ra giá: {{proBidQuantity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <p>&nbsp;</p>
    <nav class="pagination is-right is-rounded is-medium" role="navigation" aria-label="pagination">
        {{#if this.prevPage.check}}
            <a class="pagination-previous" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.prevPage.value}}">Previous page</a>
        {{/if}}
        {{#if this.nexPage.check}}
            <a class="pagination-next" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.nexPage.value}}">Next page</a>
        {{/if}}
        <ul class="pagination-list">
            {{#if this.prevPage.check}}
                <li><a class="pagination-link" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.prevPage.value}}">{{this.prevPage.value}}</a></li>
            {{/if}}
                <li><a class="pagination-link is-current">{{this.curPage.value}}</a></li>
            {{#if this.nexPage.check}}
                <li><a class="pagination-link" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.nexPage.value}}">{{this.nexPage.value}}</a></li>
            {{/if}}
        </ul>
    </nav>
    {{else}}
    <p class="h2">
        Không tìm thấy kết quả sản phẩm
        <style>
            #footer {
                position: fixed;
                bottom: 0;
                width: 100%;
            }
        </style>
    </p>
{{/if}}

