{{#section 'js'}}
    <script>
        $('.btnFavorite').on('click', function (e){
            e.preventDefault();
            const id = $(this).data('id');
            $('#txtProID').val(id);
            alert(id)
            $('#formAddFavorite').submit();

        });

    </script>
    <style>
        .rediconcolor{
            color: #e74c3c;
        }
    </style>
{{/section}}

<form action="/user/favorite/add" method="post" id="formAddFavorite">
    <input type="text" name="id" id="txtProID" hidden>
</form>

{{#if this.product}}
{{else}}
    {{#if this.by}}
        <p class="has-text-centered h2">
            Danh mục: {{this.category}}
        </p>
    {{else}}
        <p class="has-text-centered h2">
            Kết quả tìm kiếm: {{this.keyword}}
        </p>
        <div class="d-flex justify-content-end">
            <div>
                <span>Sắp xếp theo:</span>
                <select class="bootstrap-select" onchange="location = this.value;">
                    {{#if this.sortType}}
                        <option value="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.curPage.value}}" selected>Giá tăng dần</option>
                        <option value="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.curPage.value}}&sort=time-descending">Thời gian kết thúc giảm dần</option>
                    {{else}}
                        <option value="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.curPage.value}}">Giá tăng dần</option>
                        <option value="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.curPage.value}}&sort=time-descending" selected>Thời gian kết thúc giảm dần</option>
                    {{/if}}
                </select>
            </div>
        </div>
    {{/if}}
{{/if}}

{{#if this.curPage.check}}

    {{!--
    <div class="row">
        {{#each this.listResult}}
            <div class="col-3 d-flex justify-content-center">
                <div class="card" style="width: 23rem;">
                    <a style="text-decoration:none" href="/product/{{_id}}">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                            </figure>
                        </div>
                    </a>
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <a style="text-decoration:none" href="/product/{{_id}}">
                                    <p class="title is-4">{{proName}}</p>
                                </a>
                            </div>
                        </div>
                        <div class="content">
                            <p> Giá hiện tại: {{format_number proCurBidPrice}}</p>
                            <p> Người đặt hiện tại: {{curBidderInfo}} </p>
                            <p> Giá mua ngay: {{format_number proBuyNowPrice}}</p>
                            {{#if check}}
                                <p><strong> Ngày đăng sản phẩm: {{proStartDate}} </strong></p>
                            {{else}}
                                <p> Ngày đăng sản phẩm: {{proStartDate}}</p>
                            {{/if}}
                            <p> Thời gian còn lại: {{format_number time}} giờ</p>
                            <p> Số lượt ra giá: {{proBidQuantity}}</p>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
    <p>&nbsp;</p>
    --}}
    <div class="container">
        <div class="row mt-3 d-flex justify-content-center">
            {{#each this.listResult}}
                <a class="col-lg-4 p-3 tagA" href="/product/{{_id}}" style="text-decoration:none" onclick="alert('Ngoài');">
                    <div class="card h-100">

                        <img src="/public/{{_id}}/{{mainThumb}}">
                        <div class="card-body">

                            <p class="h4 font-weight-bold">{{proName}}</p>
                            {{#if check}}
                                <p class="has-text-primary font-italic">Sản phẩm mới</p>
                            {{/if}}
                            <div class="has-text-info font-weight-bold">
                                {{#each curBidderInfo}}
                                    <p>Người đặt hiện tại: {{email}}</p>
                                {{/each}}
                                <p>Ngày đăng sản phẩm: {{proStartDate}}</p>
                                <p>Thời gian còn lại: {{format_number time}} giờ</p>
                                <p>Số lượt ra giá: {{proBidQuantity}} lượt</p>
                            </div>
                        </div>
                        <div class="has-background-grey-lighter">

                            <div class="card-footer justify-content-between">
                                <p class="h4 has-text-danger">
                                    Giá đặt hiện tại: {{format_number proCurBidPrice}} VNĐ
                                </p>
                            </div>
                            <div class="card-footer justify-content-between">
                                <p class="h4 has-text-danger">
                                    Giá mua ngay: {{format_number proBuyNowPrice}} VNĐ
                                </p>
                            </div>

                        </div>
                        {{#if ../auth}}

<!--                                <input class="proIDFavorite" value="" hidden>-->
                                <button data-id="{{_id}}" class="btn-lg bg-light btnFavorite"> Thêm vào yêu thích <i class="fa fa-heart rediconcolor" aria-hidden="true"></i></button>

                        {{/if}}
                    </div>

                </a>
            {{/each}}
        </div>
    </div>
    <nav class="pagination is-right is-rounded is-medium" role="navigation" aria-label="pagination">
        {{#if this.prevPage.check}}
            {{#if this.sortType}}
                <a class="pagination-previous page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.prevPage.value}}">Previous page</a>
            {{else}}
                {{#if this.product}}
                    <a class="pagination-previous page-link" style="text-decoration:none" href="/product?page={{this.prevPage.value}}">Previous page</a>
                {{else}}
                    {{#if this.type}}
                        <a class="pagination-previous page-link" style="text-decoration:none" href="/product?category={{this.category}}&page={{this.prevPage.value}}">Previous page</a>
                    {{else}}
                        <a class="pagination-previous page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.prevPage.value}}&sort=time-descending">Previous page</a>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        {{#if this.nexPage.check}}
            {{#if this.sortType}}
                <a class="pagination-next page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.nexPage.value}}">Next page</a>
            {{else}}
                {{#if this.product}}
                    <a class="pagination-next page-link" style="text-decoration:none" href="/product?page={{this.nexPage.value}}">Next page</a>
                {{else}}
                    {{#if this.type}}
                        <a class="pagination-next page-link" style="text-decoration:none" href="/product?category={{this.category}}&page={{this.nexPage.value}}">Next page</a>
                    {{else}}
                        <a class="pagination-next page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.nexPage.value}}&sort=time-descending">Next page</a>
                    {{/if}}
                {{/if}}
            {{/if}}
        {{/if}}
        <ul class="pagination-list">
            {{#if this.prevPage.check}}
                {{#if this.sortType}}
                    <li><a class="pagination-link page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.prevPage.value}}">{{this.prevPage.value}}</a></li>
                {{else}}
                    {{#if this.product}}
                        <li><a class="pagination-link page-link" style="text-decoration:none" href="/product?page={{this.prevPage.value}}">{{this.prevPage.value}}</a></li>
                    {{else}}
                        {{#if this.type}}
                            <li><a class="pagination-link page-link" style="text-decoration:none" href="/product?category={{this.category}}&page={{this.prevPage.value}}">{{this.prevPage.value}}</a></li>
                        {{else}}
                            <li><a class="pagination-link page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.prevPage.value}}&sort=time-descending">{{this.prevPage.value}}</a></li>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
                <li><a style="text-decoration:none" class="pagination-link is-current">{{this.curPage.value}}</a></li>
            {{#if this.nexPage.check}}
                {{#if this.sortType}}
                    <li><a class="pagination-link page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.nexPage.value}}">{{this.nexPage.value}}</a></li>
                {{else}}
                    {{#if this.product}}
                        <li><a class="pagination-link page-link" style="text-decoration:none" href="/product?page={{this.nexPage.value}}">{{this.nexPage.value}}</a></li>
                    {{else}}
                        {{#if this.type}}
                            <li><a class="pagination-link page-link" style="text-decoration:none" href="/product?category={{this.category}}&page={{this.nexPage.value}}">{{this.nexPage.value}}</a></li>
                        {{else}}
                            <li><a class="pagination-link page-link" style="text-decoration:none" href="search?keyword={{this.keyword}}&with={{this.type}}&page={{this.nexPage.value}}&sort=time-descending">{{this.nexPage.value}}</a></li>
                        {{/if}}
                    {{/if}}
                {{/if}}
            {{/if}}
        </ul>
    </nav>
    {{else}}
    <p class="h2">
        Không tìm thấy kết quả sản phẩm
        {{#section 'css'}}
            <style>
                #footer {
                    position: fixed;
                    bottom: 0;
                    width: 100%;
                }
            </style>
        {{/section}}
    </p>
{{/if}}

