{{#section 'js'}}
    <script>
        $('#homePageNavbar').hide();

    </script>


{{/section}}
{{#section 'css'}}
    <style>
        .card-img{
            max-height: 100%;
            max-width: 100%;
        }

        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            flex-wrap: wrap;
        }
        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }
    </style>
{{/section}}
<div class="container-fluid min-vh-100">
    <div class="row">
        <div class="col-sm-3" style="background-color: #15161D; padding: 5px; min-height: 500px" >
            <ul class="nav flex-column">
                <div class="h3 text-center ml-auto mr-auto p-4" style="color: #FFFFFF"><strong>Hồ sơ</strong></div>
                <hr class="navbar-divider">
                {{!--
                <li class="nav-item">
                    <div class="h4 p-5" style="background: #FFFFFF; padding: 10px">Người dùng: <strong>{{this.userAccount.email}}</strong></div>
                </li>
                --}}
                <li class="nav-item">
                    <div class="h4 p-5" style="background: #FFFFFF; padding: 10px">Tổng số đánh giá: <strong>{{this.total}}</strong></div>
                </li>
                <li class="nav-item">
                    <div class="h4 p-5" style="background: #FFFFFF; padding: 10px">Đánh giá tích cực: <strong>{{this.likeRate}}</strong></div>
                </li>
                <li class="nav-item">
                    <div class="h4 p-5" style="background: #FFFFFF; padding: 10px">Đánh giá tiêu cực: <strong>{{this.dislikeRate}}</strong></div>
                </li>
                <li class="nav-item">
                    <div class="h4 p-5" style="background: #FFFFFF; padding: 10px">Điểm đánh giá: <strong>{{this.score}} %</strong></div>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            <p class="container-fluid">

                {{#each this.product}}
                    {{#each details}}
                        <div class="d-flex justify-content-center">
                            <a class="d-flex flex-row-reverse p-3 h-100 w-100" href="/product/{{_id}}">
                            <div class="product mb-2 ml-auto mr-auto border">
                                <div class="row no-gutters">
                                    <div class="col-md-3">
                                        <img src="/public/{{_id}}/main-thumb.jpg" class="card-img" alt="...">
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-body h-50">
                                            <div class="d-flex" style="margin-top: 10px">
                                                <span class="h5 product-name"><strong>{{proName}}</strong></span>
                                                <span class="flex-fill">
                                            </span>
                                            </div>
                                            <hr>
                                            <p class="card-text">Nội dung: {{../sellerComment}}</p>
                                        </div>
                                    </div>

                                    {{#if ../sellerRate}}
                                        <div class="col-sm-1">
                                            <i class="fa fa-thumbs-o-up fa-4x mt-lg-3" style="color: #77d970" aria-hidden="true"></i>
                                        </div>
                                    {{else}}
                                        <div class="col-sm-1">
                                            <i class="fa fa-thumbs-o-down fa-4x mt-lg-3" style="color: #e74c3c" aria-hidden="true"></i>
                                        </div>
                                    {{/if}}
                                </div>
                            </div>
                            </a>
                        </div>
                    {{/each}}
                {{else}}
                    <hr class="navbar-divider">
                    <div class="h4 text-center mt-5 mb-5">Hiện tại bạn chưa có sản phẩm yêu thích nào</div>
                {{/each}}
            </div>
            </p>
        </div>

    </div>
</div>