{{#section 'js'}}
    <script>
        $('#homePageNavbar').hide();

    </script>
{{/section}}
{{#section 'css'}}
    <style>
        .row {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display:         flex;
            flex-wrap: wrap;
        }
        .row > [class*='col-'] {
            display: flex;
            flex-direction: column;
        }

    </style>
{{/section}}
<div class="container-fluid" style="height: max-content">
    <div class="row" style="height: max-content">
        <div class="col-sm-3 h-100 has-background-grey-lighter" style="height: 100vh; background: #1b1e21">
            <ul class="nav flex-column">
                <div class="h3 text-center ml-auto mr-auto p-4" style="color: #FFFFFF">Lịch sử đấu giá</div>
                <hr class="navbar-divider">

                <li class="nav-item">
                    <a class="nav-link h4 text-center" href="/user/auction-history" style="color: #FFFFFF">Đang đấu giá</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link h4 text-center bg-light" style="background: #FFFFFF" href="/user/auction-already-history">Đấu giá thành công</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9">
            {{#each this.product}}
                {{#each details}}
                        <a href="/product/{{_id}}">
                    <div class="product mb-2 ml-auto mr-auto">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="/public/{{_id}}/main-thumb.jpg" class="product-img" alt="..." style="height: 200px; width: 200px">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="product-name" style="margin-top: 10px"><strong>{{proName}}</strong></h5>
                                    <p class="card-text">Ngày đấu giá: {{../dateBid}}</p>
                                    <p class="card-text">Ngày hết hạn: {{proEndDate}}</p>
                                    <p class="card-text mt-1">Giá: {{format_number proCurBidPrice}}VNĐ</p>
                                    <div class="d-flex mt-2">
<!--                                        <p class="card-text"><button class="btn btn-primary">Sản phẩm</button></p>-->
                                        {{#if isBidderComment}}
                                            <div>
                                                <form id="commentForm" method="get" action="/user/auction-already-comment">
                                                    <input type="text" name="id" value="{{_id}}" hidden>
                                                    <button type="submit" class="btn btn-primary float-right d-flex align-self-end" style="width: 100px" aria-hidden="true">Nhận xét</button>
                                                </form>
                                            </div>
                                        {{else}}
                                            <div>
                                                <button class="btn btn-secondary float-right" aria-hidden="true" disabled>Đã nhận xét</button>
                                            </div>
                                        {{/if}}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                        </a>
                {{/each}}

            {{else}}
                <p class="h4 text-center mt-5">Bạn chưa đấu giá thành công sản phẩm nào cả, hãy đấu giá ngay</p>
            {{/each}}
        </div>

    </div>
</div>